<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB & Mongoose & Express</title>
    <link
      rel="shortcut icon"
      href=""
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ddd;
        color: #333;
        font-family: sans-serif;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <hr>
    <h1>MongoDB & Mongoose & Express Checkpoint</h1>
    <a href="All"><button >See Population</button></a>
    <hr>
    <a href="Task1"><button >Task 1 : Create and Save a Record of a Model:</button></a>
    <hr>
    <a href="Task2"><button >Task 2 : Create Many Records with model.create():</button></a>
    <hr>
    <a href="Task3"><button >Task 3 : Use model.find() to Search Your Database:</button></a>
    <hr>
    <a href="Task4"><button >Task 4 : Use model.findOne() to Return a Single Matching Document from Your Database:</button></a>
    <hr>
    <a href="Task5"><button >Task 5 : Use model.findById() to Search Your Database By _id:</button></a>
    <hr>
    <a href="Task6"><button >Task 6 : Perform Classic Updates by Running Find, Edit, then Save:</button></a>
    <hr>
    <a href="Task7"><button >Task 7 : Perform New Updates on a Document Using model.findOneAndUpdate():</button></a>
    <hr>
    <a href="Task8"><button >Task 8 : Delete One Document Using model.findByIdAndRemove:</button></a>
    <hr>
    <a href="Task9"><button >Task 9 : MongoDB and Mongoose - Delete Many Documents with model.remove():</button></a>
    <hr>
    <a href="Task10"><button >Task 10 :   Chain Search Query Helpers to Narrow Search Results :</button></a>
    <hr>
  </body>
</html>